[include]
    path = ~/.gitconfig.local

[user]
	name = Jayesh Rathi
	email = itsjayeshrathi@gmail.com

[init]
    defaultBranch = main

[alias]
    st = status
    co = checkout 
    br = branch
    ci = commit 
    lg = log --oneline --graph --decorate
